<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="db_devisa" connectionString="Dsn=DBAS121;uid=O1111;pwd=O1111;[Time out]=30;"/>
    <add name="db_igate" connectionString="Host=192.168.201.73;Username=ebanking;Password=postgres;Database=ebanking;"/>
    <add name="db_ibb" connectionString="Host=192.168.201.73;Username=ebanking;Password=postgres;Database=ibb_bali;"/>
  </connectionStrings>
  <appSettings>
    
    <!-- configuration  -->
    <add key="log_path" value="C:/Log/iGateAgent/"/>
    <add key="app_limit_rows" value="50"/>
    <add key="app_timer_interval_seconds" value="5000"/>
    <add key="app_start_time" value="00"/>
    <add key="app_end_time" value="23"/>
    <add key="app_backdate_delay" value="720"/>
    
    <!-- Telegram Notifier -->
    <add key="telegram_notify_error" value="0"/>
    <add key="telegram_notify_info" value="0"/>
    <add key="telegram_bot_token" value="1414296813:AAGrACkXAcwUC3cjddLrxWBdWrwahujm_oU"/>
    <add key="telegram_chat_id" value="138478986"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
